@model AddOrEditCategoryViewModel

@{
    ViewData["Title"] = Model.CategoryId == 0 ? "افزودن گروه" : "ویرایش گروه";
}
@section RightMenu
{
    @{ await Html.RenderPartialAsync("_RightMenu", RightMenuActivePage.CategoryPage); }
}

@section Css{
    <link href="~/css/select.css" rel="stylesheet" />
}

<form asp-action="AddOrEditCategory" method="post" enctype="multipart/form-data">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CategoryId" />
        <div class="col-sm-12 col-lg-6">
            <div class="form-field">
                <input asp-for="CategoryTitle">
                <label><i class="far fa-list-alt"></i> نام گروه</label>
                <span asp-validation-for="CategoryTitle" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-12 col-lg-6">
            <div class="form-check">
                <label>
                    این گروه فعال است
                    <input type="checkbox" asp-for="IsActive">
                    <span></span>
                </label>
            </div>
        </div>
    </div>

    <div class="row justify-content-around">

        @if (Model.CategoryId == 0)
        {
            <div class="col-auto">
                <div class="image-field">
                    <div class="image-area">
                        <img src="~/images/pattern/placeholder-image.png" alt="تصویر گروه" id="imgCategory1">
                    </div>
                    <div class="file-field">
                        <input asp-for="SelectedImage1" onchange="readURL(this, 'imgCategory1')">
                    </div>
                    <div class="form-field">
                        <input asp-for="SelectedImage1URL">
                        <label><i class="far fa-list-alt"></i> آدرس عکس شماره 1</label>
                        <span asp-validation-for="SelectedImage1URL" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="col-auto">
                <div class="image-field">
                    <div class="image-area">
                        <img src="~/images/pattern/placeholder-image.png" alt="تصویر گروه" id="imgCategory2">
                    </div>
                    <div class="file-field">
                        <input asp-for="SelectedImage2" onchange="readURL(this, 'imgCategory2')">
                    </div>
                    <div class="form-field">
                        <input asp-for="SelectedImage2URL">
                        <label><i class="far fa-list-alt"></i> آدرس عکس شماره 2</label>
                        <span asp-validation-for="SelectedImage2URL" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="col-auto">
                <div class="image-field">
                    <div class="image-area">
                        <img src="~/images/pattern/placeholder-image.png" alt="تصویر گروه" id="imgCategory3">
                    </div>
                    <div class="file-field">
                        <input asp-for="SelectedImage3" onchange="readURL(this, 'imgCategory3')">
                    </div>
                    <div class="form-field">
                        <input asp-for="SelectedImage3URL">
                        <label><i class="far fa-list-alt"></i> آدرس عکس شماره 3</label>
                        <span asp-validation-for="SelectedImage3URL" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="col-auto">
                <div class="image-field">
                    <div class="image-area">
                        <img src="~/images/pattern/placeholder-image.png" alt="تصویر گروه" id="imgCategory4">
                    </div>
                    <div class="file-field">
                        <input asp-for="SelectedImage4" onchange="readURL(this, 'imgCategory4')">
                    </div>
                    <div class="form-field">
                        <input asp-for="SelectedImage4URL">
                        <label><i class="far fa-list-alt"></i> آدرس عکس شماره 4</label>
                        <span asp-validation-for="SelectedImage4URL" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="col-auto">
                <div class="image-field">
                    <div class="image-area">
                        <img src="~/images/pattern/placeholder-image.png" alt="تصویر گروه" id="imgCategory5">
                    </div>
                    <div class="file-field">
                        <input asp-for="SelectedImage5" onchange="readURL(this, 'imgCategory5')">
                    </div>
                    <div class="form-field">
                        <input asp-for="SelectedImage5URL">
                        <label><i class="far fa-list-alt"></i> آدرس عکس شماره 5</label>
                        <span asp-validation-for="SelectedImage5URL" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="col-auto">
                <div class="image-field">
                    <div class="image-area">
                        <img src="~/images/pattern/placeholder-image.png" alt="تصویر گروه" id="imgCategory6">
                    </div>
                    <div class="file-field">
                        <input asp-for="SelectedImage6" onchange="readURL(this, 'imgCategory6')">
                    </div>
                    <div class="form-field">
                        <input asp-for="SelectedImage6URL">
                        <label><i class="far fa-list-alt"></i> آدرس عکس شماره 6</label>
                        <span asp-validation-for="SelectedImage6URL" class="text-danger"></span>
                    </div>
                </div>

            </div>
        }
        else
        {


            //images


            <input type="hidden" asp-for="SelectedImage1IMG" />
            <input type="hidden" asp-for="SelectedImage2IMG" />
            <input type="hidden" asp-for="SelectedImage3IMG" />
            <input type="hidden" asp-for="SelectedImage4IMG" />
            <input type="hidden" asp-for="SelectedImage5IMG" />
            <input type="hidden" asp-for="SelectedImage6IMG" />

            <div class="col-auto">
                <div class="image-field">
                    <div class="image-area">
                        <img src="~/images/categoryImages/@Model.SelectedImage1IMG" alt="تصویر گروه" id="imgCategory1">
                    </div>
                    <div class="file-field">
                        <input type="file" asp-for="SelectedImage1" onchange="readURL(this, 'imgCategory1')">
                    </div>
                    <div class="form-field">
                        <input asp-for="SelectedImage1URL">
                        <label><i class="far fa-list-alt"></i> آدرس عکس شماره 1</label>
                        <span asp-validation-for="SelectedImage1URL" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="image-field">
                    <div class="image-area">
                        <img src="~/images/categoryImages/@Model.SelectedImage2IMG" alt="تصویر گروه" id="imgCategory2">
                    </div>
                    <div class="file-field">
                        <input type="file" asp-for="SelectedImage2" onchange="readURL(this, 'imgCategory2')">
                    </div>
                    <div class="form-field">
                        <input asp-for="SelectedImage2URL">
                        <label><i class="far fa-list-alt"></i> آدرس عکس شماره 2</label>
                        <span asp-validation-for="SelectedImage2URL" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="col-auto">
                <div class="image-field">
                    <div class="image-area">
                        <img src="~/images/categoryImages/@Model.SelectedImage3IMG" alt="تصویر گروه" id="imgCategory3">
                    </div>
                    <div class="file-field">
                        <input type="file" asp-for="SelectedImage3" onchange="readURL(this, 'imgCategory3')">
                    </div>
                    <div class="form-field">
                        <input asp-for="SelectedImage3URL">
                        <label><i class="far fa-list-alt"></i> آدرس عکس شماره 3</label>
                        <span asp-validation-for="SelectedImage3URL" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="col-auto">
                <div class="image-field">
                    <div class="image-area">
                        <img src="~/images/categoryImages/@Model.SelectedImage4IMG" alt="تصویر گروه" id="imgCategory4">
                    </div>
                    <div class="file-field">
                        <input type="file" asp-for="SelectedImage4" onchange="readURL(this, 'imgCategory4')">
                    </div>
                    <div class="form-field">
                        <input asp-for="SelectedImage4URL">
                        <label><i class="far fa-list-alt"></i> آدرس عکس شماره 4</label>
                        <span asp-validation-for="SelectedImage4URL" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="col-auto">
                <div class="image-field">
                    <div class="image-area">
                        <img src="~/images/categoryImages/@Model.SelectedImage5IMG" alt="تصویر گروه" id="imgCategory5">
                    </div>
                    <div class="file-field">
                        <input type="file" asp-for="SelectedImage5" onchange="readURL(this, 'imgCategory5')">
                    </div>
                    <div class="form-field">
                        <input asp-for="SelectedImage5URL">
                        <label><i class="far fa-list-alt"></i> آدرس عکس شماره 5</label>
                        <span asp-validation-for="SelectedImage5URL" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="col-auto">
                <div class="image-field">
                    <div class="image-area">
                        <img src="~/images/categoryImages/@Model.SelectedImage6IMG" alt="تصویر گروه" id="imgCategory6">
                    </div>
                    <div class="file-field">
                        <input type="file" asp-for="SelectedImage6" onchange="readURL(this, 'imgCategory6')">
                    </div>
                    <div class="form-field">
                        <input asp-for="SelectedImage6URL">
                        <label><i class="far fa-list-alt"></i> آدرس عکس شماره 6</label>
                        <span asp-validation-for="SelectedImage6URL" class="text-danger"></span>
                    </div>
                </div>

            </div>
        }


    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-success text-white">ثبت</button>
    </div>

</form>

@section Scripts {
    <script src="~/js/select.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}