@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ویرایش رمز عبور";
}

<ul class="breadcrumb">
    <li>
        <a href="/">ریشاپ</a>
    </li>
    <li>
        <a asp-controller="Account" asp-action="Address">ویرایش رمز عبور</a>
    </li>
</ul>

<div class="row">

    <div class="col-sm-12 col-md-4 col-lg-3">

        <partial name="Account/_MenuAccount" model="AccountMenuActivePage.ChangePassword" />

    </div>


    <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="row">
            <div class="col-12">
                <div class="user-data box-shadow">
                    <form asp-action="ChangePassword" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-field">
                                    <input type="text" asp-for="Password" />
                                    <label><i class="far fa-lock-alt"></i>  رمز عبور فعلی</label>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-field">
                                    <input type="text" asp-for="NewPassword" />
                                    <label><i class="far fa-lock-alt"></i>  رمز عبور جدید</label>
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-field">
                                    <input type="text" asp-for="ConfirmNewPassword" />
                                    <label><i class="far fa-lock-alt"></i>  تکرار رمز عبور جدید</label>
                                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="text-center">
                                <button type="submit" class="btn btn-success text-white">ویرایش رمز عبور</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>

@section AfterMainOptions
{
    <partial name="_Modal" />

}

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}