@{
    ViewData["Title"] = "صفحه اصلی";
}
@section Css
{
<link href="~/css/animate.min.css" rel="stylesheet" />
}

@*<cache expires-after="TimeSpan.FromMinutes(15)">*@
@await Component.InvokeAsync("SliderImagesComponent")
@*</cache>*@

<section class="Category-shortcut">



    <h3>دسته بندی های سایت!</h3>


    <div class="Category-shortcut-items">

        <a href="#">
            <img class="Category-shortcut-style" src="/icons/digital_product.svg" alt="">
            <p>کالای دیجیتال</p>
        </a>



        <a href="#">
            <img class="Category-shortcut-style" src="/icons/gear.svg" alt="">
            <p>لوازم جانبی</p>
        </a>



        <a href="#">
            <img class="Category-shortcut-style" src="/icons/Parts.svg" alt="">
            <p>قطعات</p>
        </a>



        <a href="#">
            <img class="Category-shortcut-style" src="/icons/wrench.svg" alt="">
            <p>لوازم تعمیر</p>
        </a>

    </div>

    <div class="shape-divider" style="width: 105%; left: -5px; right: -5px;">
        <img class="shape-divider-category-img" src="/icons/shape-divider.svg" alt="" srcset="">
    </div>
</section>

<cache expires-after="TimeSpan.FromMinutes(15)">
    @await Component.InvokeAsync("MainPicsComponent")
</cache>

@*<cache expires-after="TimeSpan.FromMinutes(15)">*@
    @await Component.InvokeAsync("ProductsForShowComponent",new
    {
    type = ProductTypes.All.ToString(),
    sortBy = SortTypes.MostSale.ToString()
    })

    @await Component.InvokeAsync("ProductsForShowComponent",new
    {
    type = ProductTypes.All.ToString(),
    sortBy = SortTypes.MostSale.ToString()
    })
@*</cache>*@



@section Scripts
{
<script type="text/javascript">
    var sliderSwiper = new Swiper('.slider-swiper', {
        effect: 'creative',
        creativeEffect: {
            prev: {
                shadow: true,
                translate: [0, 0, -400],
            },
            next: {
                translate: ['100%', 0, 0]
            }
        },
        spaceBetween: 30,
        centeredSlides: true,
        loop: true,
        autoplay: {
            delay: 10000,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            dynamicBullets: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });


    $('.slider-swiper').on('mouseover', function() {
        sliderSwiper.autoplay.stop();
    });

    $('.slider-swiper').on('mouseout', function() {
        sliderSwiper.autoplay.start();
    });

    var products = new Swiper('.products-swiper', {
        spaceBetween: 30,
        centeredSlides: true,
        loop: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });


</script>
}


@section AfterMainOptions
{
<partial name="_toast" />
}
