@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-success text-white" asp-area="ManagerPanel" asp-controller="ProductManager" asp-action="Index">مدیریت محصولات</a>
<a class="btn btn-success text-white" asp-area="ManagerPanel" asp-controller="CategoryManager" asp-action="Index">مدیریت گروه ها</a>
<a class="btn btn-success text-white" asp-area="ManagerPanel" asp-controller="ChildCategoryManager" asp-action="Index">مدیریت زیر گروه ها</a>
<a class="btn btn-success text-white" asp-area="ManagerPanel" asp-controller="RoleManager" asp-action="Index">مدیریت مقام ها</a>
<a class="btn btn-success text-white" asp-area="ManagerPanel" asp-controller="UserManager" asp-action="Index">مدیریت کاربران</a>
<a class="btn btn-success text-white" asp-area="ManagerPanel" asp-controller="ShoppersManager" asp-action="Index">مدیریت فروشندگان</a>
<a class="btn btn-success text-white" asp-area="ManagerPanel" asp-controller="StateManager" asp-action="Index">مدیریت استان ها</a>
<a class="btn btn-success text-white" asp-area="ManagerPanel" asp-controller="CityManager" asp-action="Index">مدیریت شهر ها</a>