@model AddQuestionAnswerViewModel
@{
    Layout = null;
}


<form asp-action="AddQuestionAnswer" method="post" onsubmit="return SubmitFormData(form,true)">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="QuestionId" />

    <div class="row">

        <div class="col-12">
            <div class="form-field">
                <textarea asp-for="AnswerText"></textarea>
                <label><i class="far fa-list-alt"></i> پاسخ</label>
            </div>
        </div>

        <div class="col-12">
            <div class="form-field">
                <button type="submit" class="btn btn-success">
                    ثبت
                </button>
            </div>
        </div>

    </div>
</form>


<script>
    inputJs();
    callSelect();
</script>