@model AddColorToShopperProductViewModel

@{
    Layout = null;
}

<form asp-controller="ShoppersManager" asp-action="AddProductOfShopper" method="post" onsubmit="return SubmitFormData(this)">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">

        <input type="hidden" asp-for="ShopperProductId" />

        <div class="col-sm-12 col-lg-4">
            <div class="form-field">
                <input asp-for="QuantityInStock">
                <label><i class="far  fa-user"></i> تعداد موجودی</label>
                <span asp-validation-for="QuantityInStock" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-12 col-lg-8">
            <div class="form-field">
                <input asp-for="Price">
                <label><i class="far fa-phone"></i> قیمت</label>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>

        @* colors *@
        @{
            var colors = ViewData["Colors"] as IEnumerable<Color>;
        }

        <div class="col-sm-12">
            <select id="city" asp-for="ColorId" select-search="true">
                <option value="">رنگ</option>

                @if (colors != null)
                {
                    @foreach (var item in colors)
                    {
                        @:<option value="@item.ColorId" @(Model.ColorId != 0 && item.ColorId == Model.ColorId ? "selected" : "" )>@item.ColorName</option>
                    }
                }
            </select>
        </div>
    </div>


    <button type="submit" class="btn btn-success">ثبت</button>
</form>

<script src="~/js/select.js"></script>
<script src="~/js/Input.js"></script>