@model AddOrEditShopperProductDiscountViewModel
@{
    Layout = null;
}

<form asp-action="EditProductDiscount" method="post" onsubmit="return SubmitFormData(this)">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">

        <input type="hidden" asp-for="ShopperProductColorId" />

        <div class="col-sm-12">
            <div class="form-field">
                <input asp-for="DiscountPercent">
                <label><i class="far  fa-user"></i> درصد</label>
                <span asp-validation-for="DiscountPercent" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-12 col-lg-6">
            <div class="form-field">
                <input asp-for="StartDate" class="date-time-picker">
                <label><i class="far fa-phone"></i> تاریخ شروع</label>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-12 col-lg-6">
            <div class="form-field">
                <input asp-for="EndDate" class="date-time-picker">
                <label><i class="far fa-phone"></i> تاریخ پایان</label>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>

    </div>


    <button type="submit" class="btn btn-success">ثبت</button>
</form>


@{
    await Html.RenderPartialAsync("_CalenderDatePickerPartial");
}
<script src="~/js/Input.js"></script>
<script>
    let dateTimePickers = document.getElementsByClassName('date-time-picker');

    console.log(dateTimePickers);
    for (let e = 0; e < dateTimePickers.length; e++) {
        let t = dateTimePickers[e];
        $(t).persianDatepicker({
            inline: !1,
            viewMode: "day",
            initialValue: !0,
            autoClose: !1,
            position: "auto",
            format: "HH:mm YYYY/MM/DD",
            onlyTimePicker: !1,
            onlySelectOnDate: !1,
            calendarType: "persian",
            inputDelay: 800,
            observer: !1,
            navigator: {
                enabled: !0,
                scroll: { enabled: !0 },
                text: { btnNextText: "<", btnPrevText: ">" }
            },
            toolbox: {
                enabled: !0,
                calendarSwitch: { enabled: !1, format: "MMMM" },
                todayButton: { enabled: !0, text: { fa: "امروز", en: "Today" } },
                submitButton: { enabled: !0, text: { fa: "تایید", en: "Submit" } },
                text: { btnToday: "امروز" }
            },
            timePicker: {
                enabled: !0,
                step: 1,
                hour: {
                    enabled: !0,
                    step: null
                },
                minute: {
                    enabled: !0,
                    step: null
                },
                second: {
                    enabled: !1
                },
                meridian: {
                    enabled: !1
                }
            },
            dayPicker: {
                enabled: !0,
                titleFormat: "YYYY MMMM"
            },
            monthPicker: {
                enabled: !0,
                titleFormat: "YYYY"
            },
            yearPicker: {
                enabled: !0,
                titleFormat: "YYYY"
            },
            responsive: !0
        });
    }
</script>