@model string
@{
    ViewData["Title"] = "لیست کالا ها";
}

<ul class="breadcrumb">
    <li>
        <a href="/">ریشاپ</a>
    </li>
    <li>
        <a asp-controller="Shopper" asp-action="ManageProducts">لیست کالا ها</a>
    </li>
</ul>

<div class="row">

    <div class="col-sm-12 col-md-4 col-lg-3">

        <partial name="Account/_MenuAccount" model="AccountMenuActivePage.ShopperProduct" />

    </div>


    <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="row">
            <div class="col-12">
                <div class="profile-nav box-shadow">
                    <ul>
                        <li class="active"><a asp-action="ManageProducts">کالا های من</a> </li>
                        <li><a asp-action="ShopperRequests">درخواست ها</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="user-data box-shadow">

                    <a onclick="ShowModal('@Url.Action("AddShopperProduct","Shopper",null,Context.Request.Scheme)', 'افزودن کالا به فروشنده')"
                       class="btn btn-success text-white mb-2">افزودن کالا</a>

                    <section class="table-list" id="tableList">
                        @await Component.InvokeAsync("ShopperProductsForShowShopperComponent", new { shopperId = Model })
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>

@section AfterMainOptions
{
    <partial name="_Modal" />
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}