@model string
@{
    ViewData["Title"] = "درخواست های شما";
}

<ul class="breadcrumb">
    <li>
        <a href="/">ریشاپ</a>
    </li>
    <li>
        <a asp-controller="Shopper" asp-action="ShopperRequests">درخواست ها</a>
    </li>
</ul>

<div class="row">

    <div class="col-sm-12 col-md-4 col-lg-3">

        <partial name="Account/_MenuAccount" model="AccountMenuActivePage.ShopperProduct" />

    </div>


    <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="row">
            <div class="col-12">
                <div class="profile-nav box-shadow">
                    <ul>
                        <li><a asp-action="ManageProducts">کالا های من</a> </li>
                        <li class="active"><a asp-action="ShopperRequests">درخواست ها</a> </li>
                        <li><a asp-action="StoreAddresses">نشانی ها</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="user-data box-shadow">
                    <section class="table-list" id="tableRequestList">
                        @await Component.InvokeAsync("ShopperRequestsForShowShopperComponent", new { shopperId = Model })
                    </section>
                </div>

            </div>


        </div>
    </div>
</div>

@section AfterMainOptions
{
    <partial name="_Modal" />
}