@model AddOrEditUserForAdminViewModel

@{
    Layout = null;
}

<form asp-action="AddOrEditUser" method="post" onsubmit="return SubmitFormData(this,true)">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <input type="hidden" asp-for="UserId" />

                <div class="col-sm-12 col-lg-6">
                    <div class="form-field">
                        <input asp-for="FullName">
                        <label><i class="far fa-user"></i> نام و نام خانوادگی</label>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                </div>



                <div class="col-sm-12 col-lg-6">
                    <div class="form-field">
                        <input asp-for="Email">
                        <label><i class="far fa-envelope"></i> ایمیل</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-sm-12 col-lg-4">
                    <div class="form-field">
                        <input asp-for="PhoneNumber">
                        <label><i class="far fa-phone"></i> شماره تلفن </label>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-4">
                    <div class="form-field">
                        <input asp-for="NationalCode">
                        <label><i class="fal fa-address-card"></i> کد ملی</label>
                        <span asp-validation-for="NationalCode" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-4">
                    <div class="form-field">
                        <input asp-for="PostalCode">
                        <label><i class="far fa-tag"></i> کد پستی </label>
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-4">
                    <div class="form-field">
                        <input asp-for="Score">
                        <label><i class="far fa-tag"></i> امتیاز </label>
                        <span asp-validation-for="Score" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-8">
                    <div class="form-field">
                        <input asp-for="AccountBalance">
                        <label><i class="far fa-tag"></i> موجودی حساب </label>
                        <span asp-validation-for="Score" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="col-sm-12">
     
                    @if (Model.Roles != null && Model.Roles.Any())
                    {
                        <select multiple asp-for="SelectedRoles" placeholder="انتخاب مقام ها">
                            @foreach (var item in Model.Roles)
                            {
                                @: <option value="@item.RoleId" @(Model.SelectedRoles != null && Model.SelectedRoles.Any(c => c == item.RoleId) ? "selected" : "")>@item.RoleTitle</option>
                            }
                        </select>
                    }
                    else
                    {
                        <div class="alert alert-warning">
                            مقامی برای نمایش یافت نشد.
                        </div>
                    }
                </div>

                <div class="col-sm-12 col-lg-6">
                    <div class="form-check">
                        <label>
                            ایا کاربر مسدود است.
                            <input type="checkbox" asp-for="IsBlocked" />
                            <span></span>
                        </label>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-6">

                </div>

                <div class="col-sm-12">
                    <div class="form-field">
                        <button type="submit" class="btn  btn-success mt-2">ثبت</button>
                    </div>
                </div>
  
    </div>
</form>

<script>
    inputJs();
    callSelect();
</script>