@model AddShopperViewModel

@{
    ViewData["Title"] = "افزودن فروشنده به کاربر";
}

@section Css{
    <link href="~/css/select.css" rel="stylesheet" />
}

@section RightMenu
{
    @{ await Html.RenderPartialAsync("_RightMenu", RightMenuActivePage.UserPage); }
}

<form asp-action="AddToShopper" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UserId" />

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h5 class="menu-title">اطلاعات شخصی</h5>

            <div class="row mt-2">

                <div class="col-sm-12">
                    <div class="form-field">
                        <input asp-for="FullName">
                        <label asp-for="FullName"></label>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-field">
                        <input asp-for="BirthDay" class="date-picker" readonly>
                        <label asp-for="BirthDay"></label>
                        <span asp-validation-for="BirthDay" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-6">
                    <div class="form-field">
                        <input asp-for="NationalCode">
                        <label asp-for="NationalCode"></label>
                        <span asp-validation-for="NationalCode" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-12 ">
                    <div class="form-field">
                        <input asp-for="Email">
                        <label asp-for="Email"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 mt-md-0">
            <h5 class="menu-title">اطلاعات فروشنده</h5>

            <div class="row mt-2">
                <div class="col-sm-12 col-lg-6">
                    <div class="form-field">
                        <input asp-for="StoreName">
                        <label asp-for="StoreName"></label>
                        <span asp-validation-for="StoreName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">

                    <select multiple multiselect-search="true" multiselect-select-all="true" multiselect-max-items="3" asp-for="SelectedStoreTitles">
                        @foreach (var item in Model.StoreTitles)
                        {
                            <option value="@item.StoreTitleId">@item.StoreTitleName</option>
                        }
                    </select>

                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">

                    <select onchange="GetCitiesOfState(this.value)" asp-for="StateId" select-search="true">
                        <option value="0">استان</option>
                        @foreach (var state in Model.States)
                        {
                            <option value="@state.Item1">@state.Item2</option>
                        }
                    </select>

                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">

                    <select id="city" asp-for="CityId" select-search="true">
                        <option value="0">شهر</option>
                    </select>

                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="form-field">
                        <input asp-for="Plaque">
                        <label asp-for="Plaque"></label>
                        <span asp-validation-for="Plaque" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-6">
                    <div class="form-field">
                        <input asp-for="PostalCode">
                        <label asp-for="PostalCode"></label>
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="form-field">
                        <input asp-for="LandlinePhoneNumber">
                        <label asp-for="LandlinePhoneNumber"></label>
                        <span asp-validation-for="LandlinePhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-12 ">
                    <div class="form-field">
                        <textarea asp-for="AddressText"></textarea>
                        <label asp-for="AddressText"></label>
                        <span asp-validation-for="AddressText" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="row justify-content-around">
        <div class="col-auto">
            <label>تصویر مجور کسب و کار</label>
            <div class="image-field">
                <div class="image-area">
                    <img src="~/images/pattern/placeholder-image.png" alt="تصویر مجوز کسب و کار" id="businessLicenseImage">
                </div>
                <div class="file-field">
                    <input asp-for="BusinessLicenseImageName" onchange="readURL(this, 'businessLicenseImage')">
                </div>
            </div>
            <span asp-validation-for="BusinessLicenseImageName" class="text-danger"></span>
        </div>
        
        <div class="col-auto">
            <label>تصویر روی کارت ملی</label>
            <div class="image-field">
                <div class="image-area">
                    <img src="~/images/pattern/placeholder-image.png" alt="تصویر کارت ملی" id="onNationalCardImage">
                </div>
                <div class="file-field">
                    <input asp-for="OnNationalCardImageName" onchange="readURL(this, 'onNationalCardImage')">
                </div>
            </div>
            <span asp-validation-for="OnNationalCardImageName" class="text-danger"></span>
        </div>

    </div>


    <hr>

    <div class="form-check">
        <label>
            شرایط را قبول میکنم
            <input type="checkbox">
            <span></span>
        </label>
    </div>
    

    <div class="text-center">
        <button type="submit" class="btn btn-success text-white">ثبت</button>
    </div>


</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_CalenderDatePickerPartial");
    }
    <script src="~/js/select.js"></script>
}