@model City

@{
    Layout = null;
}

<form asp-action="AddOrEditCity" method="post" onsubmit="return SubmitFormData(this,true)">
    <div class="row">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CityId" />
        <div class="col-12">
            <div class="form-field">
                <input asp-for="CityName">
                <label asp-for="CityName"></label>
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
        </div>

        @{
            var states = ViewBag.States as IEnumerable<Tuple<int, string>>;
        }

        <div class="col-12">
            <select asp-for="StateId">
                <option>استان</option>

                @if (states != null)
                {
                    foreach (var state in states)
                    {
                        @:<option value="@state.Item1" @(Model.StateId == state.Item1 ? "selected" : "")>@state.Item2</option>
                    }
                }

            </select>
        </div>


        <div class="form-field">
            <button type="submit" class="btn btn-success">
                ثبت
            </button>
        </div>

    </div>
</form>


<script>
    inputJs();
    callSelect();
</script>