@model State

@{
    Layout = null;
}


<form asp-action="AddOrEditState" method="post" onsubmit="return SubmitFormData(this,true)">
    <div class="row">
        <div class="col-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StateId" />

            <div class="form-field">
                <input asp-for="StateName">
                <label asp-for="StateName"></label>
                <span asp-validation-for="StateName" class="text-danger"></span>
            </div>

            <div class="form-field">
                <button type="submit" class="btn btn-success">
                    ثبت
                </button>
            </div>
        </div>
    </div>
</form>

<script>
    inputJs();
</script>