@{
    ViewData["Title"] = "مدیریت شهر";
}

@section Css{
    <link href="~/css/select.css" rel="stylesheet" />
}

@section RightMenu
{
    @{ await Html.RenderPartialAsync("_RightMenu", RightMenuActivePage.OriginPage); }
}

<div class="display-6 text-center">
    مدیریت شهر
</div>

<a onclick="ShowModal('@Url.Action("AddOrEditCity", "OriginManager" ,null, Context.Request.Scheme)', 'افزودن شهر')"
   class="btn btn-success text-white"><i class="far fa-city"></i> شهر جدید</a>

<section class="table-list" id="tableList">
    @await Component.InvokeAsync("CitiesListComponent")
</section>

@section AfterMainOptions
{
    <partial name="_Modal" />
}

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/select.js"></script>
}