@model IEnumerable<State>

@{
    ViewData["Title"] = "مدیریت استان";
}

@section RightMenu
{
    @{ await Html.RenderPartialAsync("_RightMenu", RightMenuActivePage.OriginPage); }
}

<div class="display-6 text-center">
    مدیریت استان ها
</div>


<a onclick="ShowModal('@Url.Action("AddOrEditState", "OriginManager" ,null, Context.Request.Scheme)', 'افزودن استان')"
   class="btn btn-success text-white"><i class="fal fa-user-plus"></i> استان جدید</a>

<section class="table-list" id="tableList">
    @await Component.InvokeAsync("StatesListComponent")
</section>


@section AfterMainOptions
{
    <partial name="_Modal" />
}

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}