@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="row">

    <div class="col-sm-12 col-md-4 col-lg-3">

        <div class="profile-menu box-shadow">
            <div class="user-img d-flex justify-content-center flex-column align-self-center">
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit">  <i class="far fa-power-off"></i></button>
                </form>

                <img src="/images/UserImages/@User.FindFirstValue(ClaimTypes.Actor)">

                <p class="text-center">@User.FindFirstValue(ClaimTypes.GivenName)</p>
            </div>

            <div class="items">
                <a href="/profile.html" class="active"><i class="far fa-user"></i> اطلاعات حساب</a>
                <a href="/order.html"><i class="far fa-calendar-week"></i> سفارش های من</a>
                <a href=""><i class="far fa-heart"></i> علاقه مندی ها</a>
                <a href=""><i class="far fa-comments-alt"></i> نظرات</a>
            </div>
        </div>

    </div>


    <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="row">
            <div class="col-12">
                <div class="profile-nav box-shadow">
                    <ul>
                        <li class="active"><a asp-action="Index">اطلاعات شخصی</a> </li>
                        <li><a asp-action="UserAddresses">آدرس</a> </li>
                    </ul>

                    <div class="search-profile">
                        <a href="#"><i class="far fa-search"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="user-data box-shadow">
                    <div class="row">
                        <div class="col-sm-12 col-lg-9">
                            <form asp-action="ChangePassword" method="post" autocomplete="off">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                
                                <input type="hidden" asp-for="UserId"/>

                                <div class="form-group">
                                    <label asp-for="CurrentPassword" class="control-label"></label>
                                    <input asp-for="CurrentPassword" class="form-control" />
                                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="NewPassword" class="control-label"></label>
                                    <input asp-for="NewPassword" class="form-control" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmNewPassword" class="control-label"></label>
                                    <input asp-for="ConfirmNewPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="تغییر رمز" class="btn btn-success" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>
</div>