@model IEnumerable<string>
@{
    ViewData["Title"] = "افزودن کالا";
}

<div class="row">

    <div class="col-sm-12 col-md-4 col-lg-3">

        <partial name="AccountManager/_MenuAccount" model="AccountMenuActivePage.ShopperProduct" />

    </div>

    <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="row">
            <div class="col-12">
                <div class="profile-nav box-shadow">
                    <ul>
                        <li><a asp-action="ManageProducts">کالا های من</a> </li>
                        <li class="active"><a asp-action="ProductsAccess">افزودن کالا</a> </li>
                        <li><a asp-action="Address">گزارش کاری من</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="user-data box-shadow">
            
                    
                    @foreach (var name in Model)
                    {
                        switch (name)
                        {
                            case "قطعات الکتریکی":
                                {
                                <a class="btn btn-success text-white" asp-area="ManagerPanel" asp-controller="ProductManager" asp-action="Index">مدیریت محصولات</a>
                                <a class="btn btn-success text-white" asp-area="ManagerPanel" asp-controller="CategoryManager" asp-action="Index">مدیریت گروه ها</a>
                                <a class="btn btn-success text-white" asp-area="ManagerPanel" asp-controller="ChildCategoryManager" asp-action="Index">مدیریت زیر گروه ها</a>
                                <a class="btn btn-success text-white" asp-area="ManagerPanel" asp-controller="RoleManager" asp-action="Index">مدیریت مقام ها</a>
                                <a class="btn btn-success text-white" asp-area="ManagerPanel" asp-controller="UserManager" asp-action="Index">مدیریت کاربران</a>
                                <a class="btn btn-success text-white" asp-area="ManagerPanel" asp-controller="ShoppersManager" asp-action="Index">مدیریت فروشندگان</a>
                                <a class="btn btn-success text-white" asp-area="ManagerPanel" asp-controller="StateManager" asp-action="Index">مدیریت استان ها</a>
                                <a class="btn btn-success text-white" asp-area="ManagerPanel" asp-controller="CityManager" asp-action="Index">مدیریت شهر ها</a>
                                <a class="btn btn-success text-white" asp-area="ManagerPanel" asp-controller="ShoppersManager" asp-action="ManageStoreTitles">مدیریت عنوان فروشنده ها</a>
                                break;
                            }
                            case "تست 1":
                            {

                                break;
                                
                            }
                            case "تست 2":
                            {

                                break;
                                
                            }
                        }
                    }

                </div>

            </div>


        </div>
    </div>

</div>
