@model IEnumerable<ReceivedOrdersViewModel>
@inject IRoleService RoleService;
@{
    ViewData["Title"] = "UserAddresses";
}


<div class="row">

    <div class="col-sm-12 col-md-4 col-lg-3">

        <div class="profile-menu box-shadow">
            <div class="user-img d-flex justify-content-center flex-column align-self-center">
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit">  <i class="far fa-power-off"></i></button>
                </form>

                <img src="/images/UserImages/@User.FindFirstValue(ClaimTypes.Actor)">

                <p class="text-center">@User.FindFirstValue(ClaimTypes.Name)</p>
            </div>

            <div class="items">
                <a asp-action="Dashboard"><i class="far fa-user"></i> اطلاعات حساب</a>
                <a asp-action="UnFinallyOrders" class="active"><i class="far fa-calendar-week"></i> سفارش های من</a>
                <a asp-action="FavoriteProducts"><i class="far fa-heart"></i> علاقه مندی ها</a>
                <a asp-action="Questions"><i class="far fa-comments-alt"></i> سوالات و نظرات</a>
                @if (RoleService.PermissionChecker(User.FindFirstValue(ClaimTypes.NameIdentifier), "Shopper,FullManager"))
                {
                    <a asp-action="ManageProducts"><i class="far fa-comments-alt"></i>مدیریت محصولات</a>
                }
                @if (RoleService.PermissionChecker(User.FindFirstValue(ClaimTypes.NameIdentifier), "FullManager"))
                {
                    <a asp-action="UserComments"><i class="far fa-comments-alt"></i>ورود به پنل مدیریت</a>
                }
            </div>
        </div>

    </div>


    <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="row">
            <div class="col-12">
                <div class="profile-nav box-shadow">
                    <ul>
                        <li class="active"><a asp-action="UnFinallyOrders">تحویل نشده</a> </li>
                        <li><a asp-action="FinallyOrders">تحویل شده</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="user-data box-shadow">



                    @if (!Model.Any())
                    {
                        <div class="basket-empty">
                            <img src="/icons/basket.svg" alt="basket"/>
                            <h1>فاکتوری یافت نشد!</h1>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <div class="order-item">
                                <div class="order-detail">
                                    <ul>
                                        <li><a href=""><i class="fal fa-clock"></i> @item.PayDate.ToShamsiDateTime()</a></li>
                                        <li><a href=""><i class="fal fa-barcode-read"></i> @item.TrackingCode</a></li>
                                    </ul>
                                    <p>@item.Sum.ToToman() <span class="toman">تومان</span></p>
                                </div>
                                <div class="show-order-pics">
                                    @foreach (var pic in item.ProPics)
                                    {
                                        <img src="/images/ProductImages/@pic" alt="orderPicture">
                                    }
                                </div>
                                <div class="more-detail-order">
                                    <a href=""><i class="fal fa-file-invoice"></i> مشاهده بیشتر</a>
                                    <a href=""><i class="fal fa-download"></i> مشاده فاکتور</a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>