@model IEnumerable<ImagesForShowInSiteViewModel>


<section class="mb-3">
    <div class="swiper slider-swiper">
        <div class="swiper-wrapper">
            
            @foreach (var item in Model)
            {
                <div class="swiper-slide swiper-main-menu-slider">
                    <a>
                        <a href="@item.Url">
                            <img src="~/images/banner/@item.ImageName" alt="منوی اسلایدر" />
                        </a>
                    </a>
                </div>
            }
          


        </div>

        <div class="swiper-pagination"></div>
        
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>