@model IAsyncEnumerable<City>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddOrEditCity" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                نام شهر
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @await foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    <a asp-action="AddOrEditCity" asp-route-cityId="@item.CityId"
                       class="btn btn-warning text-white">
                        ویرایش
                    </a>
                    
                    <form asp-action="DeleteCity" asp-route-cityId="@item.CityId" method="post"
                          class="d-inline">
                        <button type="submit" class="btn btn-danger text-white">حذف</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
