@font-face {
    font-family: Sahel;
    src: url('/Fonts/SahelFarsi/Sahel-FD.eot') format('embedded-opentype');
    src: url('/Fonts/SahelFarsi/Sahel-FD.ttf') format('truetype');
    src: url('/Fonts/SahelFarsi/Sahel-FD.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: Sahel;
    src: url('/Fonts/SahelFarsi/Sahel-Black-FD.eot') format('embedded-opentype');
    src: url('/Fonts/SahelFarsi/Sahel-Black-FD.ttf') format('truetype');
    src: url('/Fonts/SahelFarsi/Sahel-Black-FD.woff') format('woff');
    font-weight: 900;
}

@font-face {
    font-family: Sahel;
    src: url('/Fonts/SahelFarsi/Sahel-Bold-FD.eot') format('embedded-opentype');
    src: url('/Fonts/SahelFarsi/Sahel-Bold-FD.ttf') format('truetype');
    src: url('/Fonts/SahelFarsi/Sahel-Bold-FD.woff') format('woff');
    font-weight: 900;
}

@font-face {
    font-family: Kalameh;
    src: url("/Fonts/Kalameh/KalamehFaNumRegular.ttf") format('truetype');
    font-weight: normal;
}

body,
html {
    background: #fff;
    font-family: Sahel, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    direction: rtl;
    overflow-x: hidden;
}

.error-page {
    display: block;
    position: relative;
    width: 100%;
}

    .error-page img {
        display: block;
        width: 530px;
        margin: 0 auto 20px;
    }

    .error-page h1 {
        text-align: center;
        font-size: 18px;
        line-height: 28px;
    }


.box-shadow {
    border: 1px solid #e9e8e8;
    border-radius: 8px;
    box-shadow: 0 0 10px #d5d0c2c2;
    background-color: #fff;
}

.scrollChart {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 1rem;
    position: relative;
}

    .scrollChart::-webkit-scrollbar {
        height: 5px;
    }

    .scrollChart::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #d1d1d1;
        border-radius: 10px;
    }

    .scrollChart::-webkit-scrollbar-thumb {
        background: #c3c3c3;
        border-radius: 10px;
    }

        .scrollChart::-webkit-scrollbar-thumb:hover {
            background: #aea4a4;
        }

.chartheader {
    font-size: 17px;
    font-weight: bold;
    color: #222;
    margin-top: 10px;
}

.table-responsive {
    margin-bottom: 1rem;
}

table.responsive {
    overflow-x: auto;
    min-width: 800px;
}

table tr th {
    white-space: nowrap;
}


table tr td {
    vertical-align: middle;
}

.table-responsive::-webkit-scrollbar {
    height: 5px;
}

.table-responsive::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #d1d1d1;
    border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background: #c3c3c3;
    border-radius: 10px;
}

    .table-responsive::-webkit-scrollbar-thumb:hover {
        background: #aea4a4;
    }

table .btn {
    margin: 0;
}


/* width */

::-webkit-scrollbar {
    width: 0;
}

/* -------------------------------------- modal -------------------------------------- */

.modal {
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background: #fff;
    margin: auto;
    padding: 0;
    border: 2px solid #565656;
    width: 98%;
    max-width: 1000px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: .6s;
    animation-name: animatetop;
    animation-duration: .6s;
    border-radius: 10px;
}

@-webkit-keyframes animatetop {
    from {
        top: -200px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -200px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.modal-header-custom {
    padding: 10px 16px;
    border-bottom: 2px solid #e4e4e4;
    background: #dbdbdb;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    position: relative;
}

    .modal-header-custom .header-title {
        font-weight: bold;
        display: inline-block;
        margin: 0;
        font-size: 15px;
        color: #2c2b2b;
    }

    .modal-header-custom .close {
        position: absolute;
        color: #2c2b2b;
        left: 13px;
        top: 4px;
        font-size: 25px;
        font-weight: bold;
    }

        .modal-header-custom .close:hover,
        .modal-header-custom .close:focus {
            text-decoration: none;
            cursor: pointer;
        }

.modal-body {
    padding: 20px 16px 11px 16px;
    margin-bottom: 5px;
    background: #fff;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: auto;
    max-height: 500px;
    overflow-y: scroll;
}


    .modal-body::-webkit-scrollbar {
        width: 3px;
    }

    .modal-body::-webkit-scrollbar-track {
        background: #dddddd;
        border-radius: 25px;
    }

    .modal-body::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 25px;
    }

        .modal-body::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

/* -------------------------------------- modal -------------------------------------- */

/* -------------------------------------- collapse -------------------------------------- */

.collapsible:after {
    content: '\002B';
    color: #222;
    font-weight: bold;
    line-height: 34px;
    margin: 0;
    font-size: 22px;
}

.collapsible.active:after {
    content: "\2212";
}

/* -------------------------------------- collapse -------------------------------------- */

/* -------------------------------------- toast -------------------------------------- */

#toast-success, #toast-wrong, #toast-warning {
    margin: 0;
    border-radius: 8px;
    padding: 9px;
    position: fixed;
    z-index: 999;
    right: 2%;
    top: 30px;
    font-size: 17px;
    min-height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: none;
}

#toast-success {
    background: #10c15c;
    border: 1px solid #00be52;
}

#toast-wrong {
    background: #ed1c24;
    border: 1px solid #ad161c;
}

#toast-warning {
    background: #f7bd0f;
    border: 1px solid #ca9d18;
}

    #toast-success svg, #toast-wrong svg, #toast-warning svg {
        background: transparent;
        width: 30px;
        height: 30px;
    }

    #toast-success span, #toast-wrong span, #toast-warning span {
        display: inline-block;
        margin: 5px 0 5px 10px;
        color: #fff;
    }

    #toast-success.show, #toast-wrong.show, #toast-warning.show {
        display: flex;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}



/* -------------------------------------- pagination -------------------------------------- */


ul.pagination-custom {
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    margin: 2rem 0 0 0;
}

.pagination-custom li {
    display: inline-block;
    width: 42px;
    height: 42px;
    padding: 0;
    transition: background-color .3s;
    border: 2px solid #edebeb;
    border-radius: 25px;
    margin: 0 4px;
    text-align: center;
    line-height: 40px
}

    .pagination-custom li.disabled {
        display: none;
    }

    .pagination-custom li.active {
        background-color: #FC5400;
        border: 2px solid #232323;
        color: white;
    }

    .pagination-custom li:hover:not(.active) {
        background-color: #edebeb;
    }


/* img box */

.show-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 300px;
    padding: 10px;
}

    .show-img-box img {
        max-width: 100%;
        height: 100%;
        background: #fff;
        background-size: contain;
        border-radius: 4px;
    }

.mini-pic-slider {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 8px;
    margin: 10px 10px 0 10px;
    transition: 0.2s;
    padding: 5px;
    width: 120px;
    height: 83px;
}

    .mini-pic-slider img {
        border-radius: 4px;
        width: 100%;
        height: 100%;
    }

    .mini-pic-slider:hover {
        transition: ease .3s;
        border: 1px solid #fc5400;
    }

/* right menu */
.right-menu {
    display: block;
    right: 0;
    bottom: 0;
    position: fixed;
    top: 0;
    width: 270px;
    background: #FC5400;
    padding: 20px 20px 0 20px;
    z-index: 99;
}


    /* logo */

    .right-menu .logo {
        display: block;
        position: relative;
        border-bottom: 1px solid #fff;
        width: 100%;
        padding-bottom: 10px;
        height: 70px;
    }

        .right-menu .logo a {
            text-align: center;
            position: relative;
            width: 100%;
        }

            .right-menu .logo a img {
                width: 100%;
                height: auto;
                max-height: 100%;
            }


    /* items */

    .right-menu ul {
        display: block;
        padding: 0;
        margin-top: 10px;
        list-style: none;
        width: 100%;
    }

        .right-menu ul li {
            margin: 5px 0;
            border-radius: 25px;
            height: 53px;
            line-height: 53px;
            transition: background ease .3s;
            position: relative;
            display: block;
            white-space: nowrap;
        }

            .right-menu ul li a,
            .right-menu ul li.dropdown span.name {
                font-size: 17px;
                text-decoration: none;
                color: #fff;
                font-weight: bold;
                display: block;
                width: 100%;
                padding-right: 25px;
            }

                .right-menu ul li a i,
                .right-menu ul li.dropdown span.name i {
                    padding-left: 7px;
                    color: #ffffffe3;
                }


            /* active li */

            .right-menu ul li.active {
                background: #fff;
                box-shadow: 0 0px 6px 1px #58585840;
            }

                .right-menu ul li.active a,
                .right-menu ul li.active a i,
                .right-menu ul li.dropdown.active span.name,
                .right-menu ul li.dropdown.active span.name i {
                    color: #FC5400;
                }


            /* hover li */

            .right-menu ul li:not(.active):hover {
                background: #292929;
                box-shadow: 0 0px 6px 1px #58585840;
            }

                .right-menu ul li:not(.active):hover a i {
                    color: #fff;
                }


            /* dropdown */

            .right-menu ul li.dropdown.active {
                height: auto;
            }

            .right-menu ul li.dropdown ul {
                display: none;
            }

            .right-menu ul li.dropdown.active ul {
                display: block;
                padding: 5px 10px;
                margin-top: 0;
            }

            .right-menu ul li.dropdown::after {
                content: "\f078";
                font-family: "FontAwesome";
                font-weight: 400;
                position: absolute;
                left: 10px;
                top: 0;
                color: #fff;
            }

            .right-menu ul li.dropdown.active::after {
                content: "\f053";
                font-weight: 400;
                color: #FC5400;
            }

            .right-menu ul li.dropdown ul li {
                height: 40px;
                line-height: 40px;
                display: block;
                padding-left: 20px;
            }

                .right-menu ul li.dropdown ul li a {
                    color: #fC5400;
                    font-size: 15px;
                    position: relative;
                }

                    .right-menu ul li.dropdown ul li a i {
                        color: #fC5400;
                    }


                /* hover */

                .right-menu ul li.dropdown ul li:hover {
                    background: #fC5400;
                }

                    .right-menu ul li.dropdown ul li:hover a,
                    .right-menu ul li.dropdown ul li:hover a i {
                        color: #fff;
                    }


    /* min right menu */

    .right-menu.min {
        width: 67px;
        padding: 20px 5px 0 5px;
    }

        .right-menu.min ul li {
            line-height: 57px;
            max-height: 53px;
            width: 53px;
        }

            .right-menu.min ul li a,
            .right-menu.min ul li.dropdown span.name {
                padding-right: 0;
                text-align: center;
            }

                .right-menu.min ul li a span,
                .right-menu.min ul li.dropdown span.name span {
                    display: none;
                }

                .right-menu.min ul li a i,
                .right-menu.min ul li.dropdown span.name i {
                    padding-left: 0;
                    font-size: 22px;
                }


            /* dropdown */

            .right-menu.min ul li.dropdown::after {
                display: none;
            }

            .right-menu.min ul li.dropdown:hover {
                height: auto;
            }

            .right-menu.min ul li.dropdown ul {
                min-width: 200px;
                width: auto;
                display: block;
                background: #FC5400;
                border-radius: 8px;
                position: absolute;
                visibility: hidden;
                padding: 5px 10px;
                top: 0;
                right: 77px;
                margin: 0;
                z-index: 9999;
                opacity: 0;
            }

            .right-menu.min ul li.dropdown:hover ul,
            .right-menu.min ul li.dropdown.active ul {
                visibility: visible;
                opacity: 1;
            }

                .right-menu.min ul li.dropdown:hover ul::after,
                .right-menu.min ul li.dropdown.active ul::after {
                    content: "";
                    position: absolute;
                    top: 17%;
                    right: -14px;
                    border-width: 7px;
                    border-style: solid;
                    border-color: transparent transparent transparent #FC5400;
                }

            .right-menu.min ul li.dropdown ul li {
                transform: background ease .3s;
                width: 100%;
            }

                .right-menu.min ul li.dropdown ul li a {
                    text-align: start;
                    padding-right: 22px;
                    font-size: 15px;
                    color: #fff;
                }

                    .right-menu.min ul li.dropdown ul li a i {
                        padding-left: 7px;
                        color: #fff;
                    }

                .right-menu.min ul li.dropdown ul li :hover a,
                .right-menu.min ul li.dropdown ul li :hover a i {
                    color: #FC5400;
                }


/* --------------------------------------------------------------------------------- */


/* top menu */

.content-page {
    margin-right: 270px;
    position: relative;
}

    .content-page > .content-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 3px 4px #e1e1e1;
        padding: 10px 20px;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        margin-right: 270px;
        background: #fff;
        z-index: 50;
    }


    /* header-button */

    .content-page .content-header button {
        outline: none;
        border: none;
        background: none;
        font-size: 25px;
        padding: 0;
        width: 45px;
        height: 45px;
        transition: all ease .3s;
    }

        .content-page .content-header button i {
            line-height: 45px;
            color: #414141;
        }

        .content-page .content-header button:hover {
            border-radius: 50%;
            background: #e6e6e68c;
        }

    .content-page .content-header .user-img {
        border-radius: 25px;
        box-shadow: 0 0 2px 2px #d9d9d9;
        padding: 5px;
    }

        .content-page .content-header .user-img a {
            text-decoration: none;
            color: #292929;
            font-weight: bold;
            padding-left: 5px;
            padding-right: 5px;
        }

            .content-page .content-header .user-img a img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }


    /* min menu */

    .content-page.big {
        margin-right: 67px;
    }

        .content-page.big .content-header {
            margin-right: 67px;
        }

    .content-page .content-main {
        padding: 0 10px;
        width: 100%;
        margin-top: 77px;
        padding-top: 13px;
        overflow: hidden;
    }


        /* product panel */


        /* card */

        .content-page .content-main .card-data {
            border: 2px solid #eaeaea;
            padding: 10px;
            border-radius: 7px;
            margin-top: 5px;
            margin-bottom: 5px;
            background: #f2f2f2;
        }

            .content-page .content-main .card-data:hover {
                transition: ease-in .3s;
                border-color: #FC5400;
                box-shadow: 0 0 5px #FC5400;
            }

            .content-page .content-main .card-data .header {
                margin-bottom: 5px;
                position: relative;
            }

                .content-page .content-main .card-data .header h3 {
                    font-size: 16px;
                    font-weight: bold;
                    color: #242424;
                }

                .content-page .content-main .card-data .header i {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 19px;
                    color: #242424;
                }


            /* main */

            .content-page .content-main .card-data .content {
                border-top: 1px solid #e1e1e1;
                padding-top: 5px;
                font-family: cursive;
                text-align: left;
            }


        /* add product */

        .content-page .content-main .add-product {
            border-top: 1px solid #d7d7d7;
            border-bottom: 1px solid #d7d7d7;
            padding: 10px 0;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }

            .content-page .content-main .add-product h3 {
                width: 100%;
                font-size: 17px;
                font-weight: bold;
                color: #242424;
                margin-bottom: 15px;
            }

            .content-page .content-main .add-product a,
            .btn {
                margin: 10px 0;
                border-radius: 8px;
                color: #fff;
                padding-left: 15px;
                padding-right: 15px;
            }

        .content-page .content-main .table-list {
            padding: 10px 0;
            position: relative;
        }

            .content-page .content-main .table-list .filter {
                border: 2px solid #d7d7d7;
                box-shadow: 0 0 5px 0 #d1d1d1eb;
                border-radius: 5px;
                padding: 10px 0;
                margin-bottom: 20px;
                display: flex;
                justify-content: space-between;
            }


                .content-page .content-main .table-list .filter .filter-input {
                    width: 100%;
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    height: 38px;
                    margin-right: 10px;
                    margin-left: 10px;
                }

                    .content-page .content-main .table-list .filter .filter-input input {
                        width: 100%;
                        display: inline-block;
                        padding: 5px 12px;
                        border: 2px solid #ced4da;
                        border-radius: 5px;
                        position: relative;
                        width: 100%;
                        height: 38px;
                        margin: 0;
                        outline: none;
                    }

                    .content-page .content-main .table-list .filter .filter-input:focus {
                        border-color: #222;
                    }

                    .content-page .content-main .table-list .filter .filter-input button {
                        position: absolute;
                        left: 5px;
                        top: 0;
                        background: transparent;
                        outline: none;
                        border: none;
                        height: 38px;
                        line-height: 40px;
                        font-size: 17px;
                        color: #959595;
                    }

                /* custom select */

                .content-page .content-main .table-list .filter .select-dropdown {
                    margin-right: 10px;
                    margin-left: 10px;
                    margin-bottom: 0;
                    max-width: 240px;
                }


/* product detail */

.general-detail {
    position: relative;
}

.general-data {
    width: 100%;
    padding: 5px 15px 15px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: initial;
}

.part-title {
    display: block;
    text-align: center;
    width: 100%;
    color: #4d4d4d;
    font-size: 25px;
    margin-bottom: 20px;
    position: relative;
}

    .part-title::before {
        background: #cecece none repeat scroll 0 0;
        top: 41px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transition: all 0.3s ease 0s;
        width: 100%;
        z-index: 0;
    }

.general-data div {
    margin-top: 8px;
    margin-bottom: 8px;
    min-width: 360px;
}

    .general-data div h3 {
        color: #666;
        font-weight: bold;
        font-family: 'Kalameh', Sahel,sans-serif;
        font-size: 15px;
        display: inline-block
    }

    .general-data div span a {
        color: #007bff;
        font-weight: bold;
    }

.addresses {
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 2px solid #cecece;
    display: flex;
}

    .addresses .address {
        width: 330px;
        min-width: 330px;
        height: 370px;
        border: 2px solid #cecece;
        border-radius: 8px;
        padding: 10px;
        position: relative;
        margin: 10px
    }

        .addresses .address:hover {
            transition: ease-in .3s;
            border-color: #898686;
        }

        .addresses .address .header {
            padding-bottom: 5px;
            border-bottom: 1px solid #b6b6b6;
            font-size: 12px;
            font-size: .857rem;
            line-height: 1.833;
            color: #62666d;
            position: relative;
            direction: ltr;
        }

            .addresses .address .header .items a {
                font-size: 19px;
                color: #3f3f3f;
                line-height: 1;
                margin-right: 5px;
                transition: ease .3s;
            }

                .addresses .address .header .items a:hover {
                    color: #41a219;
                }

            .addresses .address .header .items form {
                display: inline-block;
            }

                .addresses .address .header .items form button i:hover {
                    color: crimson;
                }

                .addresses .address .header .items form button {
                    margin-left: 0;
                    outline: none;
                    background: none;
                    border: none;
                    padding: 0;
                    font-size: 19px;
                    color: #3f3f3f;
                    line-height: 1;
                }

        .addresses .address .personal {
            margin-top: 12px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #b6b6b6;
            padding-bottom: 12px;
        }

            .addresses .address .personal p {
                margin: 0;
                color: #3f3f3f;
                font-size: 16px;
                line-height: 1;
            }

                .addresses .address .personal p:first-of-type::before {
                    content: "\f007";
                    font-family: FontAwesome;
                    padding-left: 5px;
                    color: #cecece;
                    font-size: 19px;
                }

                .addresses .address .personal p:last-of-type::after {
                    content: "\f879";
                    font-family: FontAwesome;
                    padding-left: 5px;
                    color: #cecece;
                    font-size: 19px;
                }

        .addresses .address .address-text {
            text-align: justify;
            margin-top: 10px;
            max-height: 204px;
            overflow-y: scroll;
            padding-left: 5px;
        }

            .addresses .address .address-text::-webkit-scrollbar {
                width: 3px;
            }

            .addresses .address .address-text::-webkit-scrollbar-track {
                background: #dddddd;
                border-radius: 25px;
            }

            .addresses .address .address-text::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: 25px;
            }

                .addresses .address .address-text::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }

        .addresses .address .postal-code {
            position: absolute;
            bottom: 0;
            right: 0;
            border-top: 1px solid #b6b6b6;
            width: 100%;
            padding: 10px;
            background: #e6e6e6;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }

            .addresses .address .postal-code span {
                color: #1a1a1a;
                font-size: 15px;
            }

.chart,
.colors {
    width: 100%;
    padding: 5px 15px 15px 15px;
}

.scrollChart {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 1rem;
    position: relative;
}

    .scrollChart::-webkit-scrollbar {
        height: 5px;
    }

    .scrollChart::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #d1d1d1;
        border-radius: 10px;
    }

    .scrollChart::-webkit-scrollbar-thumb {
        background: #c3c3c3;
        border-radius: 10px;
    }

        .scrollChart::-webkit-scrollbar-thumb:hover {
            background: #aea4a4;
        }

.chartheader {
    font-size: 17px;
    font-weight: bold;
    color: #222;
    margin-top: 10px;
}

.colors .item {
    margin: 20px 10px 0 10px;
    border-radius: 13px 13px 8px 8px;
    position: relative;
    border: 2px dashed #a0a0a0;
    min-height: 36px;
}

    .colors .item .title {
        width: 100%;
        position: relative;
        height: 32px;
    }

        .colors .item .title h3 {
            padding: 5px 20px;
            position: absolute;
            top: -2px;
            right: -2px;
            z-index: 2;
            margin: 0;
            width: auto;
            background: #fff;
            color: #222;
            font-weight: bold;
            font-size: 19px;
            text-align: center;
            border-radius: 3px 13px;
            border: 2px solid #a0a0a0;
            height: 36px;
        }

    .colors .item button.collapsible {
        padding: 0 20px;
        position: absolute;
        top: -2px;
        left: -2px;
        z-index: 2;
        margin: 0;
        width: auto;
        background: #fff;
        color: #222;
        font-weight: bold;
        font-size: 19px;
        text-align: center;
        border-radius: 13px 3px;
        border: 2px solid #a0a0a0;
        outline: none;
        height: 36px;
        display: block;
    }

        .colors .item button.collapsible:hover {
            transition: ease .3s;
            background: #eaeaea;
        }

    .colors .item .content {
        padding: 0 10px;
        position: relative;
        max-height: 0;
        overflow-y: scroll;
        transition: max-height 0.2s ease-out;
    }

        .colors .item .content .content-header {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border-bottom: 2px solid #dee2e6;
            padding: 0;
            list-style: none;
            margin-top: 20px;
        }

            .colors .item .content .content-header li {
                padding: 5px 15px;
                margin-bottom: -2px;
                border: 2px solid transparent;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

                .colors .item .content .content-header li a {
                    font-size: 17px;
                    font-weight: bold;
                    color: #222;
                    text-decoration: none;
                    text-align: center;
                    cursor: pointer;
                }

                .colors .item .content .content-header li.active {
                    border-color: #dee2e6;
                }

                    .colors .item .content .content-header li.active a {
                        color: #FC5400;
                    }

                .colors .item .content .content-header li:hover {
                    border-color: #dee2e6;
                }

        .colors .item .content .data,
        .colors .item .content .action {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: flex-start;
        }

            .colors .item .content .data div,
            .colors .item .content .action div {
                margin: 10px 0;
                padding: 0 15px;
            }

                .colors .item .content .data div h3,
                .colors .item .content .action h3 {
                    margin: 0;
                    font-weight: bold;
                    font-size: 16px;
                    color: #3f3f3f;
                    display: inline-block;
                }

        .colors .item .content .action {
            align-items: center;
            background: #f2f2f2;
            border-radius: 8px;
            margin-top: 1rem;
            border: 2px solid;
            border-color: #00a1ff #FC5400 #00a1ff #FC5400;
            padding: 1rem 0;
        }

            .colors .item .content .action button {
                display: block;
                outline: none;
                border-radius: 8px;
                font-weight: bold;
                color: white;
                padding-left: 20px;
                padding-right: 20px;
                margin-left: 15px;
                margin-right: auto;
            }

/* inputs */

.form-field,
.image-field {
    padding: 0;
    margin-bottom: 1.5rem;
    position: relative;
}

    .form-field input,
    .form-field textarea {
        display: block;
        position: relative;
        width: 100%;
        font-size: 14px;
        height: 38px;
        padding: 6px 8px;
        line-height: 30px;
        color: #222222;
        background-color: #fff;
        background-clip: padding-box;
        border: 2px solid #ced4da;
        border-radius: 5px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .form-field textarea {
        min-height: 38px;
        height: auto;
    }

    .form-field label {
        position: absolute;
        top: .58rem;
        right: 15px;
        margin: 0;
        padding: 0;
        font-size: 14px;
        color: #6d6d6d;
        pointer-events: none;
        transition: all ease 0.3s;
        border-radius: 25px;
    }

    .form-field input:focus,
    .form-field textarea:focus,
    .register-shopper-area select:focus,
    .form-file input:focus ~ label {
        border-color: #FC5400;
        outline: none;
        box-shadow: 0 0 5px #FC5400;
    }

        .form-field input:focus ~ label,
        .form-field textarea:focus ~ label {
            background-color: #ffffff;
            top: -12px;
            color: #FC5400;
            font-size: 14px;
            padding: 0 5px;
            right: 15px;
        }

    .form-field input.active ~ label,
    .form-field textarea.active ~ label {
        background-color: #ffffff;
        top: -12px;
        color: #495057;
        font-size: 14px;
        padding: 0 5px;
        right: 15px;
    }

    .form-field input:focus ~ label i,
    .form-field textarea:focus ~ label i {
        display: none;
    }

    .form-field input.active ~ label i,
    .form-field textarea.active ~ label i {
        display: none;
    }

    .form-field select {
        width: 100%;
        border: 2px solid #ced4da;
        border-radius: 5px;
        height: 38px;
    }

.form-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 38px;
    margin-bottom: 1rem;
}

    .form-file input {
        position: relative;
        width: 100%;
        height: 38px;
        margin: 0;
        opacity: 0;
        border: none;
        outline: none;
        z-index: 2;
    }

    .form-file label {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        height: 38px;
        padding: 6px 8px;
        margin: 0;
        line-height: 25px;
        color: #495057;
        background-color: #fff;
        border: 2px solid #ced4da;
        border-radius: 5px;
    }

        .form-file label::after {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 3;
            display: block;
            line-height: 22px;
            padding: 6px 8px;
            color: #495057;
            content: "?????";
            background-color: #e9ecef;
            border-left: none;
            border-right: 2px solid #ced4da;
            outline: none;
            border-radius: 5px 0 0 5px;
            font-size: 12px;
            font-weight: bold;
        }

    .form-field input:focus,
    .form-field textarea:focus,
    .register-shopper-area select:focus,
    .form-file input:focus ~ label {
        border-color: #FC5400;
        outline: none;
        box-shadow: 0 0 5px #FC5400;
    }

.radio label {
    position: relative;
    padding-right: 27px;
    margin: 0;
    cursor: pointer;
    font-size: 13px;
    color: #3f3f3f;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .radio label > input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

        .radio label > input:checked ~ span {
            background: #FC5400;
        }

    .radio label > span {
        position: absolute;
        top: 3px;
        right: 0;
        height: 30px;
        width: 30px;
        background-color: #eee;
        border-radius: 50%;
    }

        .radio label > span::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #fff;
        }

.form-check {
    padding: 0;
    margin-bottom: 1.5rem;
    position: relative;
}

    .form-check label {
        display: block;
        position: relative;
        padding-right: 23px;
        cursor: pointer;
        font-size: 13px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: bold;
        color: #222;
    }

        .form-check label input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }


        /* Create a custom checkbox */

        .form-check label span {
            position: absolute;
            top: 1px;
            right: 0;
            height: 18px;
            width: 18px;
            background-color: #eee;
            border-radius: 5px;
            border: 1px solid #ced4da;
        }


        /* On mouse-over, add a grey background color */

        .form-check label:hover input ~ span {
            background-color: #e8e8e8;
        }


        /* When the checkbox is checked, add a blue background */

        .form-check label input:checked ~ span {
            background-color: #FC5400;
            border-color: #e9ecef;
        }


        /* Create the checkmark/indicator (hidden when not checked) */

        .form-check label span::after {
            content: "";
            position: absolute;
            display: none;
        }


        /* Show the checkmark when checked */

        .form-check label input:checked ~ span::after {
            display: block;
        }


        /* Style the checkmark/indicator */

        .form-check label span::after {
            left: 5px;
            top: 2px;
            width: 5px;
            height: 9px;
            border: solid #fff;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate( 45deg);
            -ms-transform: rotate(45deg);
            transform: rotate( 45deg);
        }

.image-field {
    border: 2px solid #ced4da;
    border-radius: 5px;
    width: 100%;
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
}

    .image-field .form-field {
        margin: 8px 8px 6px 8px;
    }

        .image-field .form-field input {
            direction: ltr;
        }

    .image-field .image-area {
        padding: 5px;
        position: relative;
        height: 270px;
        width: 100%;
        margin: 0 auto;
    }

        .image-field .image-area img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            border: 1px solid #ced4da;
        }

.file-field {
    border-top: 2px solid #ced4da;
    padding: 2px;
    height: 38px;
    padding: 6px 8px;
}

    .file-field input {
        line-height: 17px;
    }

.title-header {
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    color: #222;
}

/* media queries */

@media screen and (max-width: 767px) {
    .right-menu {
        display: none;
    }

    .content-page {
        margin-right: 0;
    }

        .content-page .content-header .user-img a {
            padding: 0;
        }

            .content-page .content-header .user-img a span {
                display: none;
            }

        .content-page .content-header {
            margin-right: 0;
        }
}
