@model AvailableBrandViewModel
@{
    Layout = null;
}

<form asp-action="AvailableBrand" method="post" onsubmit="return SubmitFormData(this,true)">
    <div class="row">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="BrandId" />



        <div class="col-sm-12">
            <div class="form-check">
                <label>
                    فعال کردن نام های اختصاصی
                    <input type="checkbox" asp-for="AvailableOfficialBrandProducts">
                    <span></span>
                </label>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-check">
                <label>
                    فعال کردن کالا ها
                    <input type="checkbox" asp-for="AvailableProducts">
                    <span></span>
                </label>
            </div>
        </div>

        <div class="col-sm-12">
            <button type="submit" class="btn btn-success">
                ثبت
            </button>
        </div>

    </div>
</form>