@model AddOrEditMobileCoverViewModel
@{
    ViewData["Title"] = "AddOrEditMobileCover";
}

<div class="row">
    <form asp-action="AddOrEditMobileCover" method="post" enctype="multipart/form-data">

        <input type="hidden" asp-for="ProductId"/>

        <div class="row">
            
            <div class="col-12 mb-5">
                <div asp-validation-summary="ModelOnly" class="alert alert-warning"></div>
            </div>
            
            
                <div class="col-sm-12 @(Model.ProductId == 0 ? "col-lg-9":"")">

                    <div class="row">

                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="ProductTitle" class="control-label"></label>
                                <input asp-for="ProductTitle" class="form-control" />
                                <span asp-validation-for="ProductTitle" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group">
                                <label asp-for="QuantityInStock" class="control-label"></label>
                                <input asp-for="QuantityInStock" class="form-control" min="0" />
                                <span asp-validation-for="QuantityInStock" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group">
                                <label asp-for="ProductBrand" class="control-label"></label>
                                <input asp-for="ProductBrand" class="form-control" />
                                <span asp-validation-for="ProductBrand" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group">
                                <label asp-for="BrandProduct" class="control-label"></label>
                                <input asp-for="BrandProduct" class="form-control" />
                                <span asp-validation-for="BrandProduct" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group">
                                <label asp-for="Gender" class="control-label"></label>
                                <input asp-for="Gender" class="form-control" />
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group">
                                <label asp-for="Structure" class="control-label"></label>
                                <input asp-for="Structure" class="form-control" />
                                <span asp-validation-for="Structure" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="SuitablePhones" class="control-label"></label>
                                <textarea asp-for="SuitablePhones" class="form-control"></textarea>
                                <span asp-validation-for="SuitablePhones" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="CoverLevel" class="control-label"></label>
                                <textarea asp-for="CoverLevel" class="form-control"></textarea>
                                <span asp-validation-for="CoverLevel" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Features" class="control-label"></label>
                                <textarea asp-for="Features" class="form-control"></textarea>
                                <span asp-validation-for="Features" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>


       
                <div class="col-sm-12 col-lg-3 mt-3 @(Model.ProductId != 0 ? "d-none":"")">
                    <div class="row">
                        @for (int i = 1; i <= 6; i++)
                        {
                            <div class="col-sm-12 pt-3">
                                <div class="custom-file">
                                    <input type="file" accept="image/*" placeholder="انتخاب عکس" title="عکسی انتخاب نشده است" class="custom-file-input" name="SelectedImages"/>
                                    <label class="custom-file-label">عکس شماره @i</label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
           

            <div class="col-12  mt-sm-3 mt-lg-0">
                <div class="form-group">
                    <input type="submit" value="ثبت کالا" class="btn btn-success"/>
                </div>
            </div>
        </div>
    </form>





    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>