@{
    ViewData["Title"] = "مدیریت کالاها";
}
@section RightMenu
{
    @{ await Html.RenderPartialAsync("_RightMenu", RightMenuActivePage.ProductPage); }
}

<section class="row mb-3">
    <div class="col-xs-12 col-sm-6 col-xl-3">
        <div class="card-data">
            <div class="header">
                <h3>تعداد کالاها</h3>

                <i class="fas fa-map-signs"></i>

            </div>
            <div class="content">
                @ViewData["ProductsCount"]
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-xl-3">
        <div class="card-data">
            <div class="header">
                <h3>تعداد کالاها</h3>

                <i class="fas fa-map-signs"></i>

            </div>
            <div class="content">
                12,000,000 <span>تومان</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-xl-3">
        <div class="card-data">
            <div class="header">
                <h3>تعداد فروش 30 روز اخیر</h3>

                <i class="fas fa-map-signs"></i>

            </div>
            <div class="content">
                12,000,000 <span>تومان</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-xl-3">
        <div class="card-data">
            <div class="header">
                <h3>تعداد فروش 30 روز اخیر</h3>

                <i class="fas fa-map-signs"></i>

            </div>
            <div class="content">
                12,000,000 <span>تومان</span>
            </div>
        </div>
    </div>
</section>

<section class="add-product mb-3">
    <h3>افزودن کالا</h3>


    <a asp-action="AddOrEditMobile" class="btn btn-success ">افزودن موبایل</a>
    <a asp-action="AddOrEditLaptop" class="btn btn-success ">افزودن لپتاپ</a>
    <a asp-action="AddOrEditMobileCover" class="btn btn-success ">افزودن کاور موبایل</a>
    <a asp-action="AddOrEditTablet" class="btn btn-success ">افزودن تبلت</a>
    <a asp-action="AddOrEditSpeaker" class="btn btn-success ">افزودن اسپیکر</a>
    <a asp-action="AddOrEditHandsfree" class="btn btn-success ">افزودن هندزفری </a>
    <a asp-action="AddOrEditHeadPhone" class="btn btn-success ">افزودن هدفون </a>
    <a asp-action="AddOrEditFlashMemory" class="btn btn-success ">افزودن فلش مموری</a>
    <a asp-action="AddOrEditWristWatch" class="btn btn-success ">افزودن مچ بند</a>
    <a asp-action="AddOrEditSmartWatch" class="btn btn-success ">افزودن ساعت هوشمند</a>
    <a asp-action="AddOrEditAUX" class="btn btn-success ">افزودن AUX</a>
</section>

<section class="scrollChart">
    <h2 class="chartheader">بازدید و فروش ماه اخیر</h2>
    <div id="productsLineChart" style="overflow: hidden; width: 100%; min-width: 877px;"></div>
</section>

<section class="table-list" id="tableList">


    @await Component.InvokeAsync("ProductsListForAdminComponent")


</section>

@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {
            'packages': ['corechart']
        });
        google.charts.setOnLoadCallback(drawLineChart);

        function drawLineChart() {


            var data = new google.visualization.DataTable();



            data.addColumn('string', 'تاریخ');
            data.addColumn('number', 'بازدید');
            data.addColumn('number', 'فروش');
            data.addColumn('number', 'مرجوعی');

            data.addRow(['2000', 2050, 4000, 364]);
            data.addRow(['2001', 4794, 6879, 9699]);
            data.addRow(['2002', 2794, 4806, 532]);
            data.addRow(['2003', 4974, 3798, 6493]);
            data.addRow(['2004', 8648, 9758, 468]);
            data.addRow(['2005', 2050, 4000, 305]);


            var options = {
                width: '100%',
                height: '100%',
                isStacked: 'relative',
                fontName: 'Sahel, sans-serif',
                color: '#4d4d4d',
                fontSize: 17,
                height: 400,
                curveType: 'function',
                colors: ['#FC5400', '#3366cc', '#f95d6a', '#58508d'],
                pointSize: 3,
                chartArea: {
                    right: 0,
                    top: 20,
                    left: 100,
                    width: '95%',
                },


                hAxis: {
                    direction: 1,
                    slantedText: true,
                    slantedTextAngle: 50,
                },

                vAxis: {
                    format: 'short',
                    title: 'تعداد',
                    titleTextStyle: {
                        color: '#333',
                    },
                    minValue: 0,
                    scaleType: 'Linear',
                },
                legend: {
                    position: 'bottom'
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('productsLineChart'));

            chart.draw(data, options);
        }

        window.onresize = drawLineChart;
    </script>
}