@model ProductDetailViewModel

@{
    ViewData["Title"] = "MobileDetail";
}

<h1>MobileDetail</h1>

<div>
    <h4>ProductDetailViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductType)
        </dd>
    </dl>
</div>
