@{
    ViewData["Title"] = "مدیریت نام های اختصاصی برند";
}

@section RightMenu
{
    @{ await Html.RenderPartialAsync("_RightMenu", RightMenuActivePage.ProductPage); }
}
@section Css{
    <link href="~/css/select.css" rel="stylesheet" />
}


<div class="display-6 text-center">
    مدیریت نام های اختصاصی برند
</div>


<a class="btn btn-success text-white"
   onclick="ShowModal('@Url.Action("AddOfficialBrandProduct", "OfficialProductManager", null, Context.Request.Scheme)', 'برند جدید')">
    <i class="fal fa-layer-plus"></i> افزودن نام اختصاصی جدید
</a>

<section class="table-list" id="tableList">
    @await Component.InvokeAsync("OfficialBrandProductsComponent")
</section>


@section AfterMainOptions
{
    <partial name="_Modal" />

}

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/select.js"></script>
}