@model IEnumerable<Tuple<int, string>>
@{
    Layout = null;
    int counter = 1;
}

<div class="table-responsive">
    <table class="table responsive table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">نام کالا</th>
            <th scope="col">دستورات</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @counter
                </td>
                <td>@item.Item2</td>
                <td>
                    <a asp-area="ManagerPanel" asp-controller="ProductManager" asp-action="ProductDetail" asp-route-productId="@item.Item1"
                       class="btn btn-info text-white" target="_blank">
                        جزئیات
                    </a>
                </td>
            </tr>
            counter++;
        }
        </tbody>
    </table>
</div>