@model StoreTitle

@{
    Layout = null;
}

<form asp-action="AddOrEditStoreTitle" method="post" onsubmit="return SubmitFormData(this)">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="StoreTitleId" />
    <div class="row">
        <div class="col-sm-12">
            <div class="form-field">
                <input asp-for="StoreTitleName">
                <label><i class="far  fa-user"></i> نام عنوان</label>
                <span asp-validation-for="StoreTitleName" class="text-danger"></span>
            </div>
        </div>
    </div>


    <input type="submit" value="ثبت" class="btn btn-success" />

</form>

<script src="~/js/Input.js"></script>