@model EditShopperProductViewModel
@{
    Layout = null;
}

<form asp-controller="ShoppersManager" asp-action="EditShopperProduct" method="post"
      onsubmit="return SubmitFormData(this,true)">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="ShopperId" />
    <input type="hidden" asp-for="ProductId" />

    <div class="row">
        <div class="col-sm-12">
            <div class="form-field">
                <input asp-for="Warranty">
                <label asp-for="Warranty"></label>
                <span asp-validation-for="Warranty" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-check">
                <label>
                    این کالا فعال است
                    <input type="checkbox" asp-for="IsActive">
                    <span></span>
                </label>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success">ثبت</button>
</form>


<script>
    inputJs();
    callSelect();
</script>