@model IEnumerable<StoreTitle>
@{
    ViewData["Title"] = "مدیریت عناوین فروشنده";
}
@section RightMenu
{
    @{ await Html.RenderPartialAsync("_RightMenu", RightMenuActivePage.ShopperPage); }
}
<div class="display-6 text-center">
    مدیریت عناوین
</div>

<a onclick="ShowModal('@Url.Action("AddOrEditStoreTitle", "ShoppersManager",null, Context.Request.Scheme)', 'افزودن عنوان')"
   class="btn  btn-success text-white">افزودن عنوان</a>

<div class="table-responsive">
    <table class="table responsive table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">نام عنوان</th>
                <th scope="col">دستورات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.StoreTitleName</td>
                    <td>
                        <a onclick="ShowModal('@Url.Action("AddOrEditStoreTitle", "ShoppersManager",new {storeTitleId = item.StoreTitleId}, Context.Request.Scheme)', 'ویرایش عنوان')"
                           class="btn btn-warning text-white">ویرایش</a>
                        <form asp-action="DeleteStoreTitle" asp-route-storeTitleId="@item.StoreTitleId" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger text-white me-2" onclick="return confirm('ایا از حذف عنوان مطمئن هستید؟')">حذف</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section AfterMainOptions
{
    <partial name="_Modal" />
}