@model AddOrEditChildCategoryViewModel

@{
    Layout = null;
}


<form asp-action="AddOrEditChildCategory" method="post" onsubmit="return SubmitFormData(this)">
    <div class="row">
        <div class="col-sm-12 col-lg-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ChildCategoryId" />

            <div class="form-field">
                <input asp-for="ChildCategoryTitle">
                <label><i class="far fa-list-alt"></i> نام زیر گروه</label>
                <span asp-validation-for="ChildCategoryTitle" class="text-danger"></span>
            </div>

            <div class="form-field">
                <button type="submit" class="btn btn-success">
                    ثبت
                </button>
            </div>
        </div>

        <div class="col-sm-12 col-lg-4">
            <h3 class="text-center">
                گروه ها
            </h3>


            @if (Model.Categories != null)
            {
                @foreach (var item in Model.Categories)
                {
                    <div class="form-check m-0">
                        <label>
                            @item.CategoryTitle
                            <input type="checkbox" name="SelectedCategories"
                                   value="@item.CategoryId" @((Model.ChildCategoryId != 0 && Model.SelectedCategories.Any(c => c == item.CategoryId) ? "checked" : "")) />
                            <span></span>
                        </label>
                    </div>
                }
            }
            else
            {
                <div class="alert alert-warning">
                    گروهی یافت نشد.
                </div>
            }
        </div>
    </div>
</form>

<script src="~/js/Input.js"></script>