@using Microsoft.EntityFrameworkCore
@model AddOrEditChildCategoryViewModel

@{
    Layout = null;
}


<form asp-action="AddOrEditChildCategory" method="post" onsubmit="return SubmitFormData(this,true)">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ChildCategoryId" />


        <div class="col-sm-12 col-lg-7">
            <div class="form-field">
                <input asp-for="ChildCategoryTitle">
                <label asp-for="ChildCategoryTitle"></label>
                <span asp-validation-for="ChildCategoryTitle" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-12 col-lg-5">

            @if (Model.Categories != null)
            {
                <select asp-for="SelectedCategory">
                    <option>لطفا گروه را انتخاب کنید</option>
                    @foreach (var item in Model.Categories)
                    {
                        @:<option value="@item.CategoryId" @(Model.SelectedCategory == item.CategoryId ? "selected" : "")>@item.CategoryTitle - @item.IsActive.BoolToText("فعال")</option>
                    }
                </select>
            }
            else
            {
                <div class="alert alert-warning">
                    گروهی یافت نشد.
                </div>
            }
        </div>

        <div class="col-sm-12 col-lg-6">
            <div class="form-check">
                <label>
                    این زیر گروه فعال است
                    <input type="checkbox" asp-for="IsActive">
                    <span></span>
                </label>
            </div>
        </div>
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success">
                ثبت
                </button>
        </div>
    </div>
</form>

<script>
    inputJs();
    callSelect();
</script>