@using System.Security.Claims
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <!-- css -->
    <link href="~/Fonts/awesome/Font-awesome.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    @await RenderSectionAsync("Css", required: false)
    <link href="~/css/adminPanelCustom.css" rel="stylesheet" />
</head>

<body>

    <!-- right menu -->
    @await RenderSectionAsync("RightMenu", required: true)



    <!-- top menu -->
    <div class="content-page">
        <div class="content-header">
            <button type="button" id="menu_button"><i class="far fa-bars"></i></button>

            <div class="user-img">
                <a asp-controller="AccountManager" asp-action="Dashboard">
                    <img src="/images/UserImages/@User.FindFirstValue(ClaimTypes.Actor)" alt="@User.FindFirstValue(ClaimTypes.Name)">
                    <span>@User.FindFirstValue(ClaimTypes.Name)</span>
                </a>
            </div>
        </div>

        <div class="content-main">
            @RenderBody()
        </div>

        @await RenderSectionAsync("AfterMainOptions", required: false)
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/AdminPanelCustom.js"></script>
    @*<script src="~/js/custom.js"></script>*@
    <script src="~/js/Ajax.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>